<div class="row my-4">
    <div class="col-md-6">
        <h3>List of Tasks</h3>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-dark btn-sm"><i class="fa fa-plus"></i>
        New Task</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="from-group">
            <label for="label">Label</label>
            <input [(ngModel)]="myTask.label" id="label" type="text" name="" id="">
        </div>
    </div>
    <div class="form-check my-2">
      <label class="form-check-label">
        <input [(ngModel)]="myTask.completed" type="checkbox" class="form-check-input">
        Completed
       </label>
       <!--(click)="updateTask()"-->
      <button *ngIf="editForm" (click)="updateTask()" class="btn btn-warning btn-block">
            <i class="fa fa-refresh"></i>
            Update Tasks
     </button>
      <button *ngIf="!editForm" (click)="persistTask()" class="btn btn-success btn-block">
            <i class="fa fa-send"></i>
            New Tasks
     </button>
    </div>
</div>
<div class="row">
   <ul class="list-group">
        <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center">
           <button (click)="editTask(task)" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
            {{task.label}}
            <i (click)="toggleCompleted(task)" class="fa" [ngClass]="{
                'fa-thumbs-up':task.completed,
                'fa-thumbs-down':!task.completed,
            }">
                <!-- {{task.completed}} -->
            </i>
            <button (click)="task.id && deleteTask(task.id)" class="btn btn-sm btn-dark">
                <i class="fa fa-trash"></i>
            </button>
        </li>
   </ul>
</div>